<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="username">Name</label>
    <input type="text" id="username"  formControlName="username" class="form-control" (keyup)="titledUserName()"    >
    </div>

    <div class="form-group">
      <label for ="hoursSpent">Hours spent</label>
      <input type= "number" class="form-control" id="hoursSpent" formControlName="hoursSpent" (keyup)="checkHoursSpent()">
    </div>

    <div class="form-group">
      <label for="ageGroup">Age Group</label>
      <select name="ageGroup" id="ageGroup" class="form-control" formControlName="ageGroup">
        <option value="">
          Select
        </option>
        <option value="0"> Child</option>
        <option value="1"> Teen</option>
          <option value="2">Adult</option>
          <option value="3">  Old aged</option>
        
      </select>
    </div>


    <div class="form-group">
      <label for="age">Age</label>
      <input type=" number" class="form-control" id="age" formControlName="age" (keyup)='onAgeGroupSelect()'>
    </div>
    
    <div class="form-group">
      <label for="movies">Movies watched (seperated by commas)</label>
      <input type="textarea" class="form-control" id="movies" formControlName="movies">
    </div>
    <span class="help-block" *ngIf="!feedbackForm.valid && feedbackForm.touched">
      Please enter all values
    </span>

    <button class="submit-btn" type="submit">Submit</button>
  </form>
</body>
</html>